/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Poppins:wght@400;500;700&display=swap');

/* common styles  */
body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    margin: 0;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 1277px;
    margin-bottom: 80px;
}

/* top banner style  start */
.top-banner {
    display: flex;
    justify-content: space-between;
    background: #161616;
    border-radius: 30px;
}

.text-info {
    color: #E5E5E5;
    padding: 30px 20px 80px 70px;
}

h1 {
    font-size: 6ex;
}

.text-size {
    font-weight: 400;
    font-size: 16px;
}

.image {

    position: relative;
    margin: 10px 15px 0 10px;
    width: 100%;


}

.half-width {
    width: 50%;
}

.button {
    background: #DD0000;
    border: none;
    border-radius: 5px;
    padding: 16px 25px;
}

.button a {
    text-decoration: none;
    color: #E5E5E5;
}

/* top banner style end  */

/* -----------------------------------------------------sports blog start ---------------------------------------------------- */

.sport-blogs {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
}

/* options styles start  */

.options {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background: #161616;
    border-radius: 10px;
    padding: 40px;

}

.button-style {
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.button-style a {
    text-decoration: none;
    color: #161616;

}

.select-button {
    width: 200px;
    height: 60px;
    background: #DD0000;
    border: none;
    border-radius: 10px;
}

.select-button a {
    text-decoration: none;
    color: #E5E5E5;
}

/* option style end  */

/* blogs style start   */

.blogs {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 50px;
}

.blog-flag {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog {
    box-shadow: 6px solid gray;
}

.flag {}

.blog-button {
    padding-left: 20px;
}

.blog-title {
    padding-left: 20px;
}



.blog-duration {
    display: flex;
    justify-content: space-between;
    padding: 0 80px 0 20px;
}





/* footer section start  */

footer {
    height: 444px;
    background: #161616;

}

h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 70px;
}

hr {
    margin-top: 10px;
    width: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.1);

}

.list-option {
    display: flex;
    justify-content: center;
    margin: 40px;

}

ul li {
    list-style: none;
    margin: 0 20px 0 20px;

}

ul li a {
    text-decoration: none;
    color: #B9B9B9;

}

/* social media icons  */

.list-icons {
    display: flex;
    justify-content: center;
    margin: 40px;

}

.icon-size {
    font-size: 30px;
}

/* resposive for mobile  */

@media only screen and(max-width:576) {
    .top-banner {
        display: flex;
        flex-direction: column;
    }


}


/* i am sorry vaiya onk onk chesta korechi vaiya tar por o kono vabei responsive korte parlam na khawya dawya sob vulei gechilam tar por o kono vabei korte parlam na code jotoi dischi kono kaj e hocche na  */