/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Poppins:wght@400;500;700&display=swap');

/* common styles  */
body {
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
    margin: 0;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 1200px;
    margin-bottom: 80px;
}

/* top banner style  start */
.top-banner {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(2, 1fr); */
    background: #161616;
    border-radius: 30px;
}

.text-info {
    color: #E5E5E5;
    padding: 30px 20px 80px 70px;
}

h1 {
    font-size: 40px;
}

.text-size {
    font-weight: 400;
    font-size: 16px;
}

.image {
    position: relative;
    margin: 10px 15px 0 10px;
    width: 100%;

}

.half-width {
    width: 50%;
}

.button {
    background: #DD0000;
    border: none;
    border-radius: 5px;
    padding: 16px 25px;
}

.button a {
    text-decoration: none;
    color: #E5E5E5;
}

/* top banner style end  */

/* -----------------------------------------------------sports blog start ---------------------------------------------------- */

.sport-blogs {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
}

/* options styles start  */

.options {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background: #161616;
    border-radius: 10px;
    padding: 40px;

}

.button-style {
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.button-style a {
    text-decoration: none;
    color: #161616;

}

.select-button {
    width: 200px;
    height: 60px;
    background: #DD0000;
    border: none;
    border-radius: 10px;
}

.select-button a {
    text-decoration: none;
    color: #E5E5E5;
}

/* option style end  */

/* blogs style start   */

.blogs {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.blog-duration {
    display: flex;
    justify-content: space-between;
}





/* footer section start  */
.goal {
    /* color: #E5E5E5; */
    text-align: center;
}

.footer-menu {
    display: flex;

}

.list-item {
    list-style: none;
}